body {
    background-color: 181818;
    color: 878787;
}

div {
    text-align: center;
}

a {
    color: 878787;
}

hr {
    border: 3;
    color: 878787;
    opacity: .1;
    width: 60%;
}

button {
    border: none;
    width: 50%;
    border-radius: 8px;
    color: e2e2e2;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 4px 2px;
    cursor: pointer;
}

table {
    width: 50%;
    table-layout: fixed;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}

textarea {
    color: e2e2e2;
    background-color: 181818;
    font-size: large;
    border: 1px solid orange;
    border-radius: 4px;
    padding: 4px 4px;
    box-sizing: border-box;
    width: 50%;
    height: 30%;
}

input {
    background-color: 181818;
    color: e2e2e2;
    font-size: large;
    width: 100%;
    border-radius: 4px;
    padding: 4px 4px;
    box-sizing: border-box;
}

.tooltip {
    width: 100%;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    width: 120px;
    font-size: small;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 2px 10px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (max-width:800px) {
    div, table, button, textarea {
        width:100%;
    }
}
